.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  // This is to counter the skew above to make the text and image in the box appear normal 

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // The skew is to counter the skew in story to make the text and image in the box appear normal 
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
  }

  &__text {
    // This is to counter the skew in story to make the text and image in the box appear normal 
    transform: skewX(12deg);
  }
}